.containeraa {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Use a percentage or any other appropriate width */
    background: #fff;
    margin-top: 200px;

}

.containeraa .imgBx {
    width: 45%; /* Adjust the width as needed */
}





.containeraa .imgBx img {
    position: relative;
    width: 600px;
    transform: rotate(-30deg);
    left: -50px;
    transition: .9s linear;
}

.containeraa .details {
    width: 55%; /* Adjust the width as needed */
    padding: 40px;
    margin-right: 250px;
}

.containeraa .details h2{
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1em;
    color: #444;
}

.containeraa .details h2 span {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.containeraa .details p {
    max-width: 85%;
    margin-left: 15%;
    color: #333;
    font-size: 15px;
    margin-bottom: 36px;
}

.containeraa .details h3 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #a2a2a2;
    float: left;
}
.containeraa .details button {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 20px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float: right;
}

.product-colors span {
    width: 26px;
    height: 26px;
    top: 7px;
    margin-right: 12px;
    left: 10px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.black {
    background: #000;
}

.red {
    background: #D5212E;
}

.orange {
    background: #F18557;
}

.product-colors .active:after{
    content: "";
    width: 36px;
    height: 36px;
    border: 2px solid #000;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -5px;
    top: -5px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


/* responsive */
@media (max-width: 768px) {
    .containeraa {
        flex-direction: column; /* Change to a column layout on smaller screens */
    }
    .containeraa .imgBx {
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;
    }
    .containeraa .imgBx img {
        left: initial;
        max-width: 100%;
        transform: rotate(0deg);
    }
    .details {
        width: 100% !important;
        height: auto;
    }
    .containeraa .details p {
        margin-left: 0;
        max-width: 100%;
    }

    .containeraa .imgBx,
    .containeraa .details {
        width: 100%; /* Make both elements take up the full width on smaller screens */
    }
}

.card {
  width: 300px;
  padding: 20px;
  background-color: #000000;
  border-radius: 5px;
  color:#999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="range"] {
  width: 100%;
  margin-top: 10px;
}


.dropdown-item {
    font-size: 20px; /* Set the desired font size */
}

.container-fluid.page-header {
  margin-bottom: 0; /* Remove bottom margin */
  padding-bottom: 0; /* Remove bottom padding */
}
